<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('./partials/head') -%> <!-- Including head partial -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
   
  </head>
  <body>
    <%- include('./partials/navmenu') -%>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Please log in:</p>
    <form method="post">
      <label for="uname"> Username: </label>
      <input type="text" name="uname" id="uname" required> <br>
      <label for="pwd"> Password </label>  
      <input type="password" name="pwd" id="pwd" required>
      <input type="submit" value="LOGIN">
    </form>
    <a href="/">Homepage</a>
  </body>
</html>