<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('./partials/head') -%> <!-- Including head partial -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
   
  </head>
  <body>
    <%- include('./partials/navmenu') -%>
    <h1><%= title %></h1>
    <p>Election View</p>
    <p><%= electioninfo %></p>
    <h2>Title: <%= electioninfo.title %></h2>
  </body>
</html>